.tekst{
	align-self: unset;
}
.gif{
	
}
.tabela{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    height: auto;
    
}
.tekst a{
	color: #F5FCCD;
}
.tabela tr{
    width: 10vw;
    height: auto;
}
.tabela th{
    background-color: #419197;
    border: solid #F5FCCD 1px;
    color: #F5FCCD;
}
.tabela td{
    background-color: #419197;
    border: solid #F5FCCD 1px;
    color: #F5FCCD;
}
.sadrzaj{
    list-style-type: none;
}